# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
ENV/
.env

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Build files
build/
dist/
*.egg-info/

# Misc
*.log
*.tmp
*.swp
*.swo
